name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Creepyclient
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Dhaka
          filename: github-metrics.svg
          
          # Commit to separate branch
          output_action: commit
          committer_branch: metrics-render
          committer_message: "Update metrics [skip ci]"
